<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="hidlibrary" version="3.3.28" targetFramework="net461" />
  <package id="HidSharp" version="2.1.0" targetFramework="net461" />
  <package id="Jace" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net461" />
  <package id="Octokit" version="0.47.0" targetFramework="net472" />
  <package id="OpenMacroBoard.SDK" version="1.0.0" targetFramework="net461" />
  <package id="StreamDeckSharp" version="1.1.0" targetFramework="net461" />
</packages>