<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ControlReference.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ControlReference.Properties.Settings>
            <setting name="DCSBiosIPFrom" serializeAs="String">
                <value>239.255.50.10</value>
            </setting>
            <setting name="DCSBiosIPTo" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="DCSBiosPortFrom" serializeAs="String">
                <value>5010</value>
            </setting>
            <setting name="DCSBiosPortTo" serializeAs="String">
                <value>7778</value>
            </setting>
            <setting name="DCSBiosJSONLocation" serializeAs="String">
                <value>%userprofile%\Saved Games\DCS\Scripts\DCS-BIOS\doc\json</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastProfileID" serializeAs="String">
                <value>-1</value>
            </setting>
        </ControlReference.Properties.Settings>
    </userSettings>
</configuration>