<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

  <targets>
    <target name="error_logfile"
            type="File"
            fileName="${basedir}ctrl_error_log.txt"
            layout="${longdate}|${level}|${message}|${exception:format=Message,StackTrace}${newline}"/>
    <target name="debug_logfile"
            type="File"
            fileName="${basedir}ctrl_debug_log.txt"
            layout="${longdate}|${level}|${message}|${exception:format=Message,StackTrace}${newline}"/>
  </targets>
  
  <rules>
    <logger name="*" minlevel="Debug" writeTo="debug_logfile" />
    <logger name="*" minlevel="Error" writeTo="error_logfile" />
  </rules>
</nlog>