<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DCSFlightpanels.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DCSFlightpanels.Properties.Settings>
            <setting name="LastProfileFileUsed" serializeAs="String">
                <value />
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="APIMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DCSBiosIPFrom" serializeAs="String">
                <value>239.255.50.10</value>
            </setting>
            <setting name="DCSBiosIPTo" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="DCSBiosPortFrom" serializeAs="String">
                <value>5010</value>
            </setting>
            <setting name="DCSBiosPortTo" serializeAs="String">
                <value>7778</value>
            </setting>
            <setting name="DCSBiosJSONLocation" serializeAs="String">
                <value>USERDIRECTORY$$$###\Saved Games\DCS\Scripts\DCS-BIOS\doc\json</value>
            </setting>
            <setting name="BIPLedStrength" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="RadioFrequencyKnobSensitivity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SyncOKDelayTimeout" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="PZ70LcdKnobSensitivity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProcessPriority" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="DebugOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugToFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SRSIpFrom" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="SRSIpTo" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="SRSPortFrom" serializeAs="String">
                <value>7082</value>
            </setting>
            <setting name="SRSPortTo" serializeAs="String">
                <value>9040</value>
            </setting>
            <setting name="LastGitHubCheck" serializeAs="String">
                <value>2018-01-01</value>
            </setting>
            <setting name="RadioFrequencyKnobSensitivityEmulator" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SRSSmallFreqStepping" serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastDCSBIOSRelease" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowBugReportInfo" serializeAs="String">
                <value>True</value>
            </setting>
        </DCSFlightpanels.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
