<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="hidlibrary" version="3.2.46.0" targetFramework="net461" />
  <package id="Jace" version="0.9.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="Octokit" version="0.32.0" targetFramework="net461" />
</packages>