<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="hidlibrary" version="3.3.40" targetFramework="net472" />
  <package id="Jace" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="NLog" version="5.0.0-preview.3" targetFramework="net472" />
  <package id="OpenMacroBoard.SDK" version="3.0.0" targetFramework="net472" />
  <package id="StreamDeckSharp" version="3.2.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="6.0.0-rc.2.21480.5" targetFramework="net472" />
</packages>